<ng-container *ngIf="isDesktopView"
  ><div class="card-front">
    <div class="grid">
      <div class="flex user-container">
        <div class="user"></div>
        <div class="transcircle"></div>
      </div>
      <div class="finalcardnumber">
        <span>{{ finalcardnumber }}</span>
      </div>
      <div class="nameExp flex">
        <span class="finalname">{{ finalname }}</span>
        <div class="exp">
          <span>{{ finalmm }}</span>
          <span>/</span>
          <span>{{ finalyy }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-back">
    <span class="finalcvc">{{ finalcvc }}</span>
  </div>
  <div class="flex container">
    <div class="img-container">
      <img src="../assets/bg-main-desktop.png" alt="bg-main" class="img-bg" />
    </div>
    <div class="form">
      <ng-container *ngIf="!submitted">
        <div class="card-form grid">
          <label for="cardholdername" class="form-label">{{
            Label.CARDHOLDERNAME
          }}</label>
          <input
            type="text"
            id="cardholdername"
            class="form-input"
            [ngStyle]="{ 'border-color': cardholdernameerr ? 'red' : '' }"
            placeholder="{{ Label.CARDHOLDERNAME_PLACEHOLDER }}"
            [(ngModel)]="cardholdername"
            (click)="cardholdernameChange($event)"
          />
          <span *ngIf="cardholdernameerr" class="err">{{
            Label.BLANK_ERR
          }}</span>
          <label for="cardnumber" class="form-label">{{
            Label.CARDNUMBER
          }}</label>
          <input
            type="text"
            id="cardnumber"
            [ngStyle]="{
              'border-color':
                cardnumbererr || cardnumbernumericerr || cardnumberlengtherr
                  ? 'red'
                  : ''
            }"
            [(ngModel)]="cardnumber"
            class="form-input"
            (keyup)="formatInput($event)"
            maxlength="19"
            placeholder="{{ Label.CARDNUMBER_PLACEHOLDER }}"
            (click)="cardholdernameChange($event)"
          />
          <span *ngIf="cardnumbererr" class="err">{{ Label.BLANK_ERR }}</span>
          <span *ngIf="cardnumbernumericerr" class="err">{{
            Label.FORMAT_ERR
          }}</span>
          <span *ngIf="cardnumberlengtherr" class="err">{{
            Label.CARDNUMBER_LESS
          }}</span>
          <div class="flex">
            <div class="grid">
              <label for="expdate" class="form-label">{{
                Label.EXPDATE
              }}</label>
              <div class="flex" id="expdate">
                <input
                  inputmode="numeric"
                  id="mm"
                  maxlength="2"
                  [(ngModel)]="mm"
                  class="form-input exp-input"
                  [ngStyle]="{ 'border-color': mmerr ? 'red' : '' }"
                  placeholder="{{ Label.MM_U }}"
                  (click)="cardholdernameChange($event)"
                />

                <input
                  inputmode="numeric"
                  id="yy"
                  [(ngModel)]="yy"
                  maxlength="2"
                  class="form-input exp-input"
                  placeholder="{{ Label.YY_U }}"
                  [ngStyle]="{ 'border-color': yyerr ? 'red' : '' }"
                  (click)="cardholdernameChange($event)"
                />
              </div>
              <span *ngIf="mmerr || yyerr" class="err">{{
                Label.BLANK_ERR
              }}</span>
            </div>
            <div class="grid cvc-container">
              <label for="cvc" class="form-label">{{ Label.CVC }}</label>
              <input
                inputmode="numeric"
                id="cvc"
                class="form-input"
                [(ngModel)]="cvc"
                maxlength="3"
                placeholder="{{ Label.CVC_PLACEHOLDER }}"
                [ngStyle]="{ 'border-color': cvcerr ? 'red' : '' }"
                (click)="cardholdernameChange($event)"
              />
              <span *ngIf="cvcerr" class="err">{{ Label.BLANK_ERR }}</span>
            </div>
          </div>
          <button type="submit" class="btn" (click)="onSubmit()">
            {{ Label.CONFIRM }}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="submitted">
        <div class="grid">
          <img class="check" src="../assets/icon-complete.svg" alt="" />
          <span class="thank_you">{{ Label.THANK_YOU }}</span>
          <span class="card_details">{{ Label.CARD_DETAILS }}</span>
          <button class="btn" (click)="onClickContinue()">Continue</button>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isDesktopView">
  <div class="grid">
    <div class="mob-card-back">
      <span class="mob-finalcvc">{{ finalcvc }}</span>
    </div>
    <div class="mob-card-front">
      <div class="grid">
        <div class="flex user-container">
          <div class="mob-user"></div>
          <div class="mob-transcircle"></div>
        </div>
        <div class="mob-finalcardnumber">
          <span>{{ finalcardnumber }}</span>
        </div>
        <div class="mob-nameExp flex">
          <span class="finalname">{{ finalname }}</span>
          <div class="exp">
            <span>{{ finalmm }}</span>
            <span>/</span>
            <span>{{ finalyy }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-container-mob">
      <img class="mob-bg" src="../assets/bg-main-mobile.png" alt="bg-mobile" />
    </div>
    <div class="mob-form">
      <ng-container *ngIf="!submitted">
        <div class="card-form grid">
          <label for="cardholdername" class="form-label">{{
            Label.CARDHOLDERNAME
          }}</label>
          <input
            type="text"
            id="cardholdername"
            class="form-input"
            [ngStyle]="{ 'border-color': cardholdernameerr ? 'red' : '' }"
            placeholder="{{ Label.CARDHOLDERNAME_PLACEHOLDER }}"
            [(ngModel)]="cardholdername"
            (click)="cardholdernameChange($event)"
          />
          <span *ngIf="cardholdernameerr" class="err">{{
            Label.BLANK_ERR
          }}</span>
          <label for="cardnumber" class="form-label">{{
            Label.CARDNUMBER
          }}</label>
          <input
            type="text"
            id="cardnumber"
            [ngStyle]="{
              'border-color':
                cardnumbererr || cardnumbernumericerr || cardnumberlengtherr
                  ? 'red'
                  : ''
            }"
            [(ngModel)]="cardnumber"
            class="form-input"
            (keyup)="formatInput($event)"
            maxlength="19"
            placeholder="{{ Label.CARDNUMBER_PLACEHOLDER }}"
            (click)="cardholdernameChange($event)"
          />
          <span *ngIf="cardnumbererr" class="err">{{ Label.BLANK_ERR }}</span>
          <span *ngIf="cardnumbernumericerr" class="err">{{
            Label.FORMAT_ERR
          }}</span>
          <span *ngIf="cardnumberlengtherr" class="err">{{
            Label.CARDNUMBER_LESS
          }}</span>
          <div class="flex">
            <div class="grid mob-expDate">
              <label for="expdate" class="form-label">{{
                Label.EXPDATE
              }}</label>
              <div class="flex" id="expdate">
                <input
                  inputmode="numeric"
                  id="mm"
                  maxlength="2"
                  [(ngModel)]="mm"
                  class="form-input mob-exp-input"
                  [ngStyle]="{ 'border-color': mmerr ? 'red' : '' }"
                  placeholder="{{ Label.MM_U }}"
                  (click)="cardholdernameChange($event)"
                />

                <input
                  inputmode="numeric"
                  id="yy"
                  [(ngModel)]="yy"
                  maxlength="2"
                  class="form-input mob-exp-input"
                  placeholder="{{ Label.YY_U }}"
                  [ngStyle]="{ 'border-color': yyerr ? 'red' : '' }"
                  (click)="cardholdernameChange($event)"
                />
              </div>
              <span *ngIf="mmerr || yyerr" class="err">{{
                Label.BLANK_ERR
              }}</span>
            </div>
            <div class="grid mob-cvc-container">
              <label for="cvc" class="form-label mob-cvc-label">{{
                Label.CVC
              }}</label>
              <input
                inputmode="numeric"
                id="cvc"
                class="form-input mob-cvc-input"
                [(ngModel)]="cvc"
                maxlength="3"
                placeholder="{{ Label.CVC_PLACEHOLDER }}"
                [ngStyle]="{ 'border-color': cvcerr ? 'red' : '' }"
                (click)="cardholdernameChange($event)"
              />
              <span *ngIf="cvcerr" class="err">{{ Label.BLANK_ERR }}</span>
            </div>
          </div>
          <button type="submit" class="btn" (click)="onSubmit()">
            {{ Label.CONFIRM }}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="submitted">
        <div class="grid">
          <img class="check" src="../assets/icon-complete.svg" alt="" />
          <span class="thank_you">{{ Label.THANK_YOU }}</span>
          <span class="card_details">{{ Label.CARD_DETAILS }}</span>
          <button class="btn" (click)="onClickContinue()">Continue</button>
        </div>
      </ng-container>
    </div>
  </div></ng-container
>
