/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "SpaceGrotesk";
  font-size: 18px;
}
